html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;
  width: 500px;
  padding: 20px;
  background-color: #efefef;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

ul {
  background-color: white;
  padding: 30px;
  border: solid purple;
  border-radius: 20px;
}
.job-title {
  font-weight: bold;
}

h1 {
  color: darkslategray;
  border-bottom: 10px dotted purple;
  font-size: 2rem;
}

h2 {
  font-style: italic;
  font-size: 1.5rem;
}

a {
  color: green;
}

a:hover,
a:focus {
  color: darkgreen; /* Changes link color to darkgreen on hover or focus */
  text-decoration: none; /* Removes the underline on hover or focus */
}